* {
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

body.fundo-receita {
    background-image: 
        url('logo-tutorial.png'),
        url('tutoriais-fundo-img.png');

    background-repeat:
        no-repeat,
        no-repeat;

    background-size: 
        80% auto,
        cover;

    background-position: 
        left 20rem top,
        center center;

   background-attachment: scroll, fixed;
    min-height: 100vh;
}

#tres-pontos {
    position: absolute;
    top: 5rem;
    left: 4rem;
    right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

#voltar {
    margin-left: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6rem;
}

.volta-dois img {
    margin-top: 3rem;
    height: auto;
}

#tres-pontos {
    width: 7rem;
}

.container-receitas{
    background-color: rgba(255, 255, 255, 0.689);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 350px;
}

.container-receitas h1 {
    font-size: 6rem;
    letter-spacing: 2px;
    color: transparent; 
    -webkit-text-stroke: 1.5px #ffaa06;
    display: inline-block;
    border-radius: 4px;
}

.container-receitas img{
    width: 50%;
    height: auto;
    margin-top: 40px;
    border-radius: 20px;
    border: 2px solid #dd0000;
}

.p-titulo{
    margin-top: 40px;
    font-size: 55px;
    color: #dd0000;
    letter-spacing: 5px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px #e77700e2;
}

.btn-1 {
    background-color: #52c506a0;
    width: 200px;
    height: 5vh;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    border: 4px solid #52c506a0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-2 {
    background-color: #ef1c1cb7;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 5vh;
    border: 4px solid #ef1c1c;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: auto; 
    margin-right: auto;
}

.btn-paragrafo{
    margin-top: 23px;
}


.segunda-parte h2 {
   text-align: center;
   font-size: 5rem;
   letter-spacing: 2px;
   color: transparent; 
   -webkit-text-stroke: 1.5px #ffaa06;
   position: relative;
   right: 550px;
   margin-top: 3rem;
}


.segunda-parte ul {
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 50px;
}

.segunda-parte li {
    font-size: 25px;
    margin-bottom: 8px;
    text-align: left;
}

.segunda-parte p {
    margin-top: 50px;
   font-size: 25px;
   line-height: 1.6;
   text-align: left;
}

.segunda-parte{
    margin-left: 250px;
}

#segundo-titulo{
    margin-left: 4rem;
}

h3{
   color: red;
   border: none;
   font-size: 3rem;
   position: relative;
   right: 30rem;
   margin-top: 3rem;
}

#btn-conserto{
    background-color: #79e862;
    border: 4px solid #54ca3c;
}

#btn-financas{
    background-color: #bcc4f9;
    border: 4px solid #96a3fc;
}